.cart-container{
    position: relative;
    height: 32px;
    width: 32px;
    
}

.cantidad{
    position: absolute;
    top: 1px;
    right: 1px;
    background: red;
    height: 12px;
    width: 12px;
    font-size: 10px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



