.cart-container {
  position: relative;
  height: 32px;
  width: 32px;

}

.cantidad {
  position: absolute;
  top: 1px;
  right: 1px;
  background: red;
  height: 12px;
  width: 12px;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #ff6868;
  width: 100%;
  text-align: center;
  margin-bottom: 0
}

.product-wrapper {
  display: inline-flex;
  padding: 20px;
  width: 100%;
}

.product-image img {
  margin: 20px;
  max-width: 500px;
}

.pb-1 {
  margin-bottom: 1rem;
}

.bottom {
  margin-bottom: 50px;
  font-size: 19px;
}

.product-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.product-text{
  padding-top: 50px;
}

.description-text{
  font-size: 1rem;
}